{% extends "firstproject/base.html" %}
{% load static %}
{% block css-head %}
<link href="{% static 'firstproject/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'firstproject/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
{% endblock css-head %}

{% block content %}
<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Dashboard</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">

                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <div class="">

                    </div>
                </div>

            </div>
        </div>
        <div class="page-header">
                <p><b>Urvis Bhatt : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</b></p>
        </div>
    </div>
</div>
{% endblock content %}


{% block javascript %}
{% endblock javascript %}
